<header class="container-fluid px-2" style="background-color:rgb(61, 186, 93)">
  <div class="container">
    <div class="row justify-content-between py-2">
        <div>
            <a class="text-light logotipo" routerLink="/" style="text-decoration:none">group</a>
        </div>
        <div class="d-flex align-items-center">
            <a *ngIf="logout" routerLink="/dashboard" class="text-light mr-3" style="text-decoration:none">
                eventos
            </a>
            <a *ngIf="!logout" routerLink="/registro" class="btn btn-outline-light px-2 py-1" style="text-decoration:none">
                regístrate <i class="fas fa-sign-in-alt pl-1"></i>
            </a>
            <a *ngIf="logout" routerLink="/" class="btn btn-outline-light px-3 py-1" style="text-decoration:none" (click)="logoutUser()">
                salir <i class="fas fa-sign-out-alt pl-1"></i>
            </a>           
        </div>
    </div>    			 
  </div>   
</header>
