<app-header [logout]="logout"></app-header>
<div class="container-fluid px-2 pt-5 pb-5" style="background: #f8fafb;">
  <div class="container">
    <div class="row pb-3 justify-content-center">
      <div class="col col-lg-6 mb-2 px-0">
        <h3 class="border-bottom pb-2">Crear evento</h3>
      </div>
    </div>

    <div class="row pb-4 justify-content-center">
      <div class="col col-lg-6">
        <form>

          <div class="row mb-2">
            <label for="nombre">Titulo</label>
            <input type="text" class="form-control" id="titulo">
          </div>

          <div class="row mb-5">
            <label for="descripcion">Descripción <small class="text-muted">(Opcional)</small></label>
            <input type="text" class="form-control" id="descripcion">
          </div>

          <div class="row mb-2">
            <label for="direccion">Dirección</label>
            <input type="text" class="form-control" id="direccion">
          </div>

          <div class="row mb-5">
            <div class="col-lg-6 px-0 pr-lg-2">
              <label for="dia">Dia</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="far fa-calendar"></i></span>
                </div>
                <input type="date" class="form-control" id="dia">
              </div>
            </div>
            <div class="col-lg-6 px-0 pl-lg-2">
              <label for="hora">Hora</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="far fa-clock"></i></span>
                </div>
                <input type="time" class="form-control" id="hora">
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-lg-6 px-0 pr-lg-2">
              <label for="participante">Participantes</label>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Nº</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                      <option value="10">10</option>
                      <option value="14" selected>14</option>
                      <option value="16">16</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 px-0 pl-lg-2">
              <label for="precio">Precio</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control">
              </div>
                
            </div>
          </div>

          <div class="row justify-content-end border-top">
            <div class="mt-4">
              <a routerLink="/dashboard" class="text-success" style="text-decoration: none;">Volver</a>
              <button type="submit" class="btn btn-success ml-4">Crear evento</button>
            </div>
          </div>


        </form>
      </div>

    </div>
  </div>
</div>