<div class="container-fluid px-2 pt-5" style="margin-bottom: 100px;">
  <div class="container">
    <div class="row pb-4">
      <div class="col px-0 text-center">
        <h3 class="mb-0">Busca un evento</h3>
        <p class="text-secondary">Apuntate y juega.</p>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="d-flex col col-md-7 px-0 justify-content-between">
        <div><span class="ml-1"><i class="far fa-calendar-alt"></i> Mié 31 Nov</span></div>
        <div>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link pl-0 pr-2 py-0 text-success" href="">Hoy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pl-0 pr-2 py-0 text-success" style="opacity: 0.5;" href="">Mañana</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0 py-0 text-success" style="opacity: 0.5;" href="">Pasado</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col col-lg-7 px-0">

        <div class="card mb-3" style="border-color: #d4d9dd">
          <div class="d-flex justify-content-between card-header px-2 py-1" style="background:#f9fbfc;">
            <span class="ml-1">22:00</span>
            <span> <i class="fas fa-check-circle text-success"></i> </span>
          </div>
          <div class="card-body px-2 pt-2 pb-0">
            <p class="text-secondary my-0">Calle Estaban Collantes Nº 7</p>
            <h5 class="my-0">El titulo del evento de futbol</h5>
            <P class="text-secondary mt-1 mb-0">Breve descripcion del evento</P>
          </div>
          <div class="d-flex justify-content-between card-footer bg-white px-2 pt-4 pb-2 border-top-0">
            <p class="my-0">
              <img src="assets/img/iconAnonimo.png" width="24" height="24">
              <span class="ml-2 align-bottom">Jesus Valderrama</span>
            </p>
            <p class="my-0">
              <span class="align-bottom">12 / 14</span>
            </p>
          </div>
        </div>

        <div class="card mb-3" style="border-color: #d4d9dd">
          <div class="d-flex justify-content-between card-header px-2 py-1" style="background:#f9fbfc;">
            <span class="ml-1">22:00</span>
            <span> <i class="fas fa-check-circle text-success"></i> </span>
          </div>
          <div class="card-body px-2 pt-2 pb-0">
            <p class="text-secondary my-0">Calle Estaban Collantes Nº 7</p>
            <h5 class="my-0">El titulo del evento de futbol</h5>
            <P class="text-secondary mt-1 mb-0">Breve descripcion del evento</P>
          </div>
          <div class="d-flex justify-content-between card-footer bg-white px-2 pt-4 pb-2 border-top-0">
            <p class="my-0">
              <img src="assets/img/iconAnonimo.png" width="24" height="24">
              <span class="ml-2 align-bottom">Jesus Valderrama</span>
            </p>
            <p class="my-0">
              <span class="align-bottom">12 / 14</span>
            </p>
          </div>
        </div>

        <div class="card mb-3" style="border-color: #d4d9dd">
          <div class="d-flex justify-content-between card-header px-2 py-1" style="background:#f9fbfc;">
            <span class="ml-1">22:00</span>
            <span> <i class="fas fa-check-circle text-success"></i> </span>
          </div>
          <div class="card-body px-2 pt-2 pb-0">
            <p class="text-secondary my-0">Calle Estaban Collantes Nº 7</p>
            <h5 class="my-0">El titulo del evento de futbol</h5>
            <P class="text-secondary mt-1 mb-0">Breve descripcion del evento</P>
          </div>
          <div class="d-flex justify-content-between card-footer bg-white px-2 pt-4 pb-2 border-top-0">
            <p class="my-0">
              <img src="assets/img/iconAnonimo.png" width="24" height="24">
              <span class="ml-2 align-bottom">Jesus Valderrama</span>
            </p>
            <p class="my-0">
              <span class="align-bottom">12 / 14</span>
            </p>
          </div>
        </div>

        <div class="card mb-3" style="border-color: #d4d9dd">
          <div class="d-flex justify-content-between card-header px-2 py-1" style="background:#f9fbfc;">
            <span class="ml-1">22:00</span>
            <span> <i class="fas fa-check-circle text-success"></i> </span>
          </div>
          <div class="card-body px-2 pt-2 pb-0">
            <p class="text-secondary my-0">Calle Estaban Collantes Nº 7</p>
            <h5 class="my-0">El titulo del evento de futbol</h5>
            <P class="text-secondary mt-1 mb-0">Breve descripcion del evento</P>
          </div>
          <div class="d-flex justify-content-between card-footer bg-white px-2 pt-4 pb-2 border-top-0">
            <p class="my-0">
              <img src="assets/img/iconAnonimo.png" width="24" height="24">
              <span class="ml-2 align-bottom">Jesus Valderrama</span>
            </p>
            <p class="my-0">
              <span class="align-bottom">12 / 14</span>
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>